<%- include("./partials/header") %>
        

                <div class=" d-flex justify-content-center">
                  <div class="main-title">
                    <h1 class="text-center"> P
                      <svg id="smiles" viewbox="0 0 10 10">
                        <circle class="smile" cx="5" cy="5" r="4" stroke-dashoffset="-.5" stroke-dasharray="11.5,13.6327" />
                        <circle class="eyes" cx="5" cy="5" r="4" stroke-dashoffset="-15.5" stroke-dasharray="0,6.6327,0,17.5" />
                      </svg>
                    sitiveGasms </h1>
                    <div><h3 class="text-center">Your daily dose of <span class="">optimism.</span></h3></div>
                  </div>
                  
                </div>
                
                <hr>
                <div class="intro">
                  <h3 class="color text-center ">Hello! </h3>
                  <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. <span class="color">Adipisci</span> cum magnam corporis qui optio, itaque praesentium nemo blanditiis id <span class="color"> exercitationem</span> iure voluptatem! Ipsa eveniet atque perspiciatis esse nostrum <span class="color">temporibus</span> et?</p>
                </div>
          
                <div class="row d-flex">
                  <div class="col-lg-8 col-12 main-blog ">
                    <div class="main-content" style="background-image:url(https://images.unsplash.com/photo-1487452066049-a710f7296400?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80)">
                      <div class="lower-info">
                        <button type="button" class="btn btn category first btn-sm">Travel</button>
                        <h3> Title Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h3>
                        <p> Date </p>
                      </div>
                      <i class="fas fa-arrow-circle-right"></i>
                    </div>
                    
                  </div>
                  <div class="col-lg-4 col-12 p-0">
                    <div class="col-12 side-blog">
                      <div class="main-content" style="background-image:url(https://images.unsplash.com/photo-1592671748854-2e0ed15b0441?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80)">
                        <div class="lower-info">
                          <button type="button" class="btn btn category second btn-sm">Health</button>
                          <h3> Title Lorem ipsum, dolor sit amet </h3>
                          <p> Date </p>
                        </div>
                        <i class="fas fa-arrow-circle-right"></i>
                      </div>
                    
                    </div>
                    <div class="col-12 side-blog">
                      <div class="main-content" style="background-image:url(https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
                        <div class="lower-info">
                          <button type="button" class="btn btn category third btn-sm">Lifestyle</button>
                          <h3> Title Lorem ipsum, dolor sit amet </h3>
                          <p> Date </p>
                        </div>
                        <i class="fas fa-arrow-circle-right"></i>
                      </div>
                      
                    </div>
                  </div>
                </div>
                
                <hr> 

                
                
                <div class="row d-flex sub-class m-0 p-0 flex-md-wrap">
                  <div class="col-xl-8 col-12 p-0">
                    <div class="row small-blogs d-flex">
                      <div class="col-12 heading" > <h3>Top posts</h3>  </div>
                      <div class="col-md-4 col-sm-6 col-12">
              
                        <div class="card-container">
                          <div class="image-holder"  style="background-image:url(https://images.unsplash.com/photo-1574237428925-eae45da36a1c?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80)" >
                          </div>  
                        </div>
                        <div class="small-blog-title underlined underlined--thick"> Title Lorem ipsum dolor sit. Lorem ipsum dolor sit amet.</div>
                      </div>

                      <div class="col-md-4  col-sm-6 col-12"> 
                        
                        <div class="card-container">
                          <div class="image-holder"  style="background-image:url(https://images.unsplash.com/photo-1592655099313-6f4d6465e5bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80)" >
                          </div>  
                        </div>
                        <div class="small-blog-title underlined underlined--thick"> Title Lorem ipsum dolor sit. Lorem ipsum dolor sit amet.</div>
                       
                      </div>

                      <div class="col-md-4  col-sm-6 col-12"> 
                        <div class="card-container">
                          <div class="image-holder"  style="background-image:url(https://images.unsplash.com/photo-1592763479802-7ccf74e64a6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80)" >
                          </div>  
                        </div>
                        <div class="small-blog-title underlined underlined--thick"> Title sit amet.</div>

                      </div>

                      <div class="col-md-4  col-sm-6 col-12">

                        <div class="card-container">
                          <div class="image-holder"  style="background-image:url(https://images.unsplash.com/photo-1592707463561-fb388ffc7c66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)" >
                          </div>  
                        </div>
                        <div class="small-blog-title underlined underlined--thick"> Title Lorem ipsum dolor sit. Lorem ipsum dolor sit amet.</div>

                      </div>

                      <div class="col-md-4  col-sm-6 col-12"> 
                        <div class="card-container">
                          <div class="image-holder"  style="background-image:url(https://images.unsplash.com/photo-1592500553342-38a28890c03b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)" >
                          </div>  
                        </div>
                        <div class="small-blog-title underlined underlined--thick"> Title Lorem ipsum dolor sit. dolor sit amet.</div>

                      </div>
                      <div class="col-md-4  col-sm-6 col-12"> 
                        
                        <div class="card-container">
                          <div class="image-holder"  style="background-image:url(https://images.unsplash.com/photo-1592771404380-467f535c7c4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80)" >
                          </div>  
                        </div>
                        
                        <div class="small-blog-title underlined underlined--thick"> Title Lorem sit. Lorem ipsum dolor sit amet.</div>
                        
                      </div>
                      <div class="col-md-4  col-sm-6 col-12">

                        <div class="card-container">
                          <div class="image-holder"  style="background-image:url(https://images.unsplash.com/photo-1592810249777-0eba22de200b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=655&q=80)" >
                          </div>  
                        </div>
                        <div class="small-blog-title underlined underlined--thick "> Lorem ipsum dolor sit amet.</div>

                      </div>

                      <div class="col-md-4  col-sm-6 col-12"> 
                        <div class="card-container">
                          <div class="image-holder"  style="background-image:url(https://images.unsplash.com/photo-1592810249740-a434315b5e49?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80)" >
                          </div>  
                        </div>
                        <div class="small-blog-title underlined underlined--thick"> Title Lorem. Lorem ipsum dolor sit amet.</div>

                      </div>
                      <div class="col-md-4 col-sm-6 d-sm-none d-md-block col-12"> 
                        
                        <div class="card-container">
                          <div class="image-holder"  style="background-image:url(https://images.unsplash.com/photo-1592686954679-0f3a55e0912c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80)" >
                          </div>  
                        </div>
                        
                        <div class="small-blog-title underlined underlined--thick"> Title Lorem Lorem ipsum dolor sit amet.</div>
                        
                      </div>
                    </div>

                  
                  </div>

                  <div class="col-xl-4 col-12 side-bar">
                    <div class="categories-sidebar">
                      <div class="col-12 heading" > <h3>Categories</h3></div>
                      <div>
                        <ul>
                          <li class="list d-flex justify-content-between align-items-center">
                            Superheroes
                            <span class="badge badge-dark badge-pill">14</span>
                          </li>
                          <li class="list d-flex justify-content-between align-items-center">
                            Travel
                            <span class="badge badge-dark badge-pill">2</span>
                          </li>
                          <li class="list d-flex justify-content-between align-items-center">
                            Entertainment
                            <span class="badge badge-dark badge-pill">14</span>
                          </li>
                          <li class="list d-flex justify-content-between align-items-center">
                            Food
                            <span class="badge badge-dark badge-pill">14</span>
                          </li>
                          <li class="list d-flex justify-content-between align-items-center">
                            Health
                            <span class="badge badge-dark badge-pill">1</span>
                          </li>
                          <li class="list d-flex justify-content-between align-items-center">
                            Lifestyle
                            <span class="badge badge-dark badge-pill">1</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="promotions-ads d-flex text-center justify-content-center align-items-center"  style="background-image:url(https://cdn.shopify.com/s/files/1/2278/2351/products/W1151_GeometricPattern3_1024x1024.jpg?v=1510704914)"> 
                      <h3 class="text-center"><strong> Ads ke liye placeholder</strong></h3>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div style="margin: 0 auto; width: 390px;" class="plugin-fb">
                        <div class="fb-page" data-href="https://www.facebook.com/CYI2019/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/CYI2019/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CYI2019/">Vrikshit foundation</a></blockquote></div>
                      </div>
                    </div>
                  </div>


                </div>

                <div class="row get-connected d-flex text-center align-items-center justify-content-center">
                  <div class="col-lg-4 col-12"><h3 class="display-6">Want more?*</h3></div>
                  <div class="col-lg-4 col-12">Odit impedit at vitae veritatis dolore, eius facilis saepe autem perferendis, exercitationem fugit!</div>
                  <div class="col-lg-4 col-12">

                    <div class="form"></div>
                        <input type="email" name="email" placeholder="Enter your email adress">
                        <button  type="submit"><i class="far fa-paper-plane"></i></button>
                    </div>
                
                  </div>
                  
                  <hr>

                  

                </div>
                
            
<%- include("./partials/footer") %>