<%- include("./partials/header") %>
	<div class="thankyou container">
              <div class="thank-you-card text-center">
                <div class="imag-cont"><img src="https://images.unsplash.com/photo-1589905310167-9671228c5c6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt=""></div>
                <h1>THANK YOU</h1>
                <h3> For joining the PositiveGasms community!</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel reiciendis eum unde magnam debitis. Porro officiis sed velit atque ut?</p>
              </div>
             
            </div>
<%- include("./partials/footer") %>

